# ── Servidor ──────────────────────────────────────────
SERVER_PORT=8082

# ── Banco de dados (order-db) ─────────────────────────
DB_HOST=localhost
DB_PORT=5433
DB_NAME=orderdb
DB_USER=
DB_PASSWORD=

# ── Kafka ─────────────────────────────────────────────
KAFKA_HOST=localhost
KAFKA_PORT=9092
