# -- Banco de dados --
DB_HOST=localhost
DB_PORT=5433
DB_NAME=orderdb
DB_USER=
DB_PASSWORD=

# -- Kafka --
KAFKA_HOST=localhost
KAFKA_PORT=9092

# -- CORS --
CORS_ALLOWED_ORIGINS=http://localhost:5173

# -- Servidor --
SERVER_PORT=8082

# -- Logistica (delays em ms) --
SHIPPING_DELAY_MS=8000
DELIVERY_DELAY_MS=15000
